<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gestion des Interventions</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/vendors/feather/feather.css">
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link href="/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendors/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="/text/css" href="js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/images/favicon.png" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/gIntervention.css}" >
  <link rel="stylesheet" type="text/css" th:href="@{/sweetalert2/sweetalert2.css}">
<!--  <script type="text/javascript" th:src="@{/js/jquery-3.6.4.min.js}"></script>-->
  <script th:inline="javascript">
    /* Déclarer la variable JavaScript avec Thymeleaf */
    var myVar = 'Valeur par défaut';
  </script>
<!--  <script  th:inline="javascript">-->
<!--    alert("hello world")-->
<!--    function greetWorld() {-->
<!--      alert("hello world")-->
<!--    }-->

<!--    function salute(name) {-->
<!--      alert("hello: " + name)-->
<!--    }-->
<!--  </script>-->
</head>

<body>
<head>
  <!-- Required meta tags -->
  <th:block th:replace="fragments/_head.html::head"></th:block>
  <th:block th:replace="fragments/_modalsIntervention.html::modalsIntervention"></th:block>

</head>
  <div class="container-scroller">

    <!--_header-->
    <th:block th:replace="/fragments/_header.html::header"></th:block>

    <div class="container-fluid page-body-wrapper">
      <!-- partial:/partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>

      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <th:block th:replace="/fragments/_navGestInt.html::navGestInt"></th:block>

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold" >Welcome <span th:text="${session.name}" ></span></h3>
<!--                  <h3 class="font-weight-bold"  id="token" th:text="${accessToken}">Welcome PENE Francine</h3>-->
<!--                  <h3 class="font-weight-bold"  id="matricule" th:text="${matricule}">Welcome PENE Francine</h3>-->
                  <h6 class="font-weight-normal mb-0">All systems are running smoothly! You have <span class="text-primary">3 unread alerts!</span></h6>
                </div>
                <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex">
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                    <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <i class="mdi mdi-calendar"></i> Today (<span id="currentDate"></span>)
                    </button>
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>

          <!-- toast -->
          <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
            <div class="toast-header">
              <strong class="me-auto">Erreur</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Fermer"></button>
            </div>
            <div class="toast-body">
              Le fichier n'est pas du bon type.
            </div>
          </div><!-- fin toast -->

          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card tale-bg">
                <div class="card-people mt-auto">
                  <img src="../../../images/dashboard/people.svg" alt="people">
                  <div class="weather-info">
                    <div class="d-flex">
                      <div>
                        <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>27<sup>C</sup></h2>
                      </div>
                      <div class="ml-2">
                        <h4 class="location font-weight-normal">Eyang</h4>
                        <h6 class="font-weight-normal">Cameroun</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin transparent">
              <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4">Nombre total d'interventions</p>
                      <p class="fs-30 mb-2" th:if="${session.authorithies[0].authority =='User' }" th:text="${nombreInterventionsEtud}"></p>
                      <p class="fs-30 mb-2" th:if="${session.authorithies[0].authority =='Admin' }" th:text="${nombreInterventionsPerso}"></p>

                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p class="mb-4">Interventions Traitées</p>
                      <p class="fs-30 mb-2" th:if="${session.authorithies[0].authority =='User' }" th:text="${nombreInterventionsEtudTraite}"></p>
                      <p class="fs-30 mb-2" th:if="${session.authorithies[0].authority =='Admin' }" th:text="${nombreInterventionsPersoTraite}"></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card card-light-blue">
                    <div class="card-body">
                      <p class="mb-4">Interventions En cours</p>
                      <p class="fs-30 mb-2" th:if="${session.authorithies[0].authority =='User' }" th:text="${nombreInterventionsEtudEncours}"></p>
                      <p class="fs-30 mb-2" th:if="${session.authorithies[0].authority =='Admin' }" th:text="${nombreInterventionsPersoEncours}"></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                  <div class="card card-light-danger">
                    <div class="card-body">
                      <p class="mb-4">Interventions Non Traite</p>
                      <p class="fs-30 mb-2" th:if="${session.authorithies[0].authority =='User' }" th:text="${nombreInterventionsEtudNontraite}"></p>
                      <p class="fs-30 mb-2" th:if="${session.authorithies[0].authority =='Admin' }" th:text="${nombreInterventionsPersoNontraite}"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
<!--          <div class="row">-->
<!--            <div class="col-md-6 grid-margin stretch-card">-->
<!--              <div class="card">-->
<!--                <div class="card-body">-->
<!--                  <p class="card-title">Order Details</p>-->
<!--                  <p class="font-weight-500">The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc</p>-->
<!--                  <div class="d-flex flex-wrap mb-5">-->
<!--                    <div class="mr-5 mt-3">-->
<!--                      <p class="text-muted">Order value</p>-->
<!--                      <h3 class="text-primary fs-30 font-weight-medium">12.3k</h3>-->
<!--                    </div>-->
<!--                    <div class="mr-5 mt-3">-->
<!--                      <p class="text-muted">Orders</p>-->
<!--                      <h3 class="text-primary fs-30 font-weight-medium">14k</h3>-->
<!--                    </div>-->
<!--                    <div class="mr-5 mt-3">-->
<!--                      <p class="text-muted">Users</p>-->
<!--                      <h3 class="text-primary fs-30 font-weight-medium">71.56%</h3>-->
<!--                    </div>-->
<!--                    <div class="mt-3">-->
<!--                      <p class="text-muted">Downloads</p>-->
<!--                      <h3 class="text-primary fs-30 font-weight-medium">34040</h3>-->
<!--                    </div> -->
<!--                  </div>-->
<!--                  <canvas id="order-chart"></canvas>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-6 grid-margin stretch-card">-->
<!--              <div class="card">-->
<!--                <div class="card-body">-->
<!--                 <div class="d-flex justify-content-between">-->
<!--                  <p class="card-title">Sales Report</p>-->
<!--                  <a href="#" class="text-info">View all</a>-->
<!--                 </div>-->
<!--                  <p class="font-weight-500">The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc</p>-->
<!--                  <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>-->
<!--                  <canvas id="sales-chart"></canvas>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2022.  Client Web ING4-ISI <a href="https://www.institutsaintjean.org/" target="_blank">ISJ-ENT.</a> All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
      <th:block th:replace="fragments/_modalsIntervention.html::modalsIntervention"></th:block>


  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/settings.js"></script>
<script src="/js/todolist.js"></script>
<script th:inline="javascript">
  // matricule
  var token = /*[[${matricule}]]*/ 'valeur_par_defaut';
  var matricule = /*[[${matricule}]]*/ 'valeur_par_defaut';
</script>
<script src="/js/creerIntervention.js"></script>

<!--<script src="/js/pIntervention.js"></script>-->
  
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->



 <!-- plugins:js -->
 <!-- endinject -->
 <!-- Plugin js for this page -->
 <script src="/vendors/chart.js/Chart.min.js"></script>
 <script src="/vendors/datatables.net/jquery.dataTables.js"></script>
 <script src="/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
 <script src="js/dataTables.select.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/sweetalert2/sweetalert2.all.js}"></script>
<script th:src="@{/sweetalert2/sweetalert2.js}"></script>

 <!-- endinject -->
 <!-- Custom js for this page-->
 <script src="/js/dashboard.js"></script>
 <script src="/js/Chart.roundedBarCharts.js"></script>

 <script>
  // Obtenir la date actuelle
  var today = new Date();

  // Formater la date
  var options = { year: 'numeric', month: 'short', day: 'numeric' };
  var formattedDate = today.toLocaleDateString('en-GB', options);

  // Mettre à jour le texte du bouton avec la date formatée
  document.getElementById('currentDate').textContent = formattedDate;
</script>



<!-- plugins:js -->
<!--<th:block th:replace="/fragments/_js.html::js"></th:block>-->

</div>
<!-- End custom js for this page-->
</body>

</html>
