<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gestion des Interventions</title>
  <!-- plugins:css -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/gIntervention.css}" >
  <link rel="stylesheet" href="/vendors/feather/feather.css">
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link href="/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendors/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="/text/css" href="js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/gInterventionResp.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/sweetalert2/sweetalert2.css}">


    <!-- Required meta tags -->
  <th:block th:replace="fragments/_head.html::head"></th:block>
</head>

<div class="container-scroller">

  <!--_header-->
  <th:block th:replace="/fragments/_header.html::header"></th:block>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:/partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>

      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <th:block th:replace="/fragments/_navGestInt.html::navGestInt"></th:block>

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                    <h4 th:if="${session.authorithies[0].authority =='User' }" class="card-title">Mes Interventions</h4>
                    <h4 th:if="${session.authorithies[0].authority =='Admin' }" class="card-title">Interventions Par Departement</h4>
<!--                    <h4 th:text="${matricule}" class="card-title">Interventions Par Departement</h4>,-->
<!--                    <h4 th:text="${interventions.personnel.idPersonnel}" class="card-title">Interventions Par Departement</h4>-->
                  <p class="card-description">
                  </p>
                  <div class="table-responsive">
                    <table id="table_id"  class="table table-hover table-striped text-center">
                      <thead>
                        <tr>
                            <th th:if="${session.authorithies[0].authority == 'Admin' }"> Matricule de l'etudiant </th>
<!--                          <th>Date de creation</th>-->
                          <th>date de creation</th>

                            <th th:if="${session.authorithies[0].authority == 'Admin' }"> Categorie </th>
                          <th>Departement</th>
                          <th>Description</th>
                          <th>pieceJointes</th>
                          <th>Statut</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="interventions : ${interventions}" th:if="${!interventions.canceled}">
                          <td th:if="${session.authorithies[0].authority == 'Admin' }" >
                            <span th:text="${interventions.etudiant.matricule}"></span></td>
                          <td th:text="${#dates.format(interventions.dateCreationInter, 'dd-MM-yyyy HH:mm:ss')}"></td>
                          <td th:if="${session.authorithies[0].authority == 'Admin' }" > <span th:text="${interventions.categorie.intituleCategorie}"></span></td>
                          <td th:text="${interventions.departement.intituleDepartement}"></td>
<!--                          <td th:text="${interventions.dateCreationInter}"></td>-->

                          <td th:text="${interventions.description}"></td>
                          <td >
                              <a th:each="piecesJointe : ${interventions.piecesJointes}"  th:href="@{/download/{idPieceJ}(idPieceJ=${piecesJointe.idPieceJointe})}"  ><i class="bi bi-file-earmark-binary-fill"></i></a>

                          </td>
                          <td>
                            <span class="badge badge-outline-danger" th:if="${interventions.statut == 'nonTraite'}" th:text="${interventions.statut}">Danger</span>
                              <span class="badge badge-success" th:if="${interventions.statut == 'traite'}" th:text="${interventions.statut}">Success</span>
                            <span class="badge badge-warning" th:if="${interventions.statut == 'enCours'}" th:text="${interventions.statut}">Success</span>
                            <span class="badge badge-warning" th:if="${interventions.statut == 'Rejeter'}" th:text="${interventions.statut}">Danger</span>
                              <i th:if="${interventions.statut != 'nonTraite' && session.authorithies[0].authority == 'Admin' && interventions.personnel.idPersonnel == matricule}" class="bi bi-emoji-grin"></i>

                          </td>
                          <td>

                              <!--<button type="button" class="btn btn-primary bi bi-eye-fill" data-toggle="modal"
                                      data-target="#interventionDetailsModal" th:attr="onclick=|singleIntervention('${interventions.idIntervention}')|">
                              </button>-->
                            <button type="button" class="btn btn-primary " data-toggle="modal" th:attr="data-target='#interventionDetailsModa'+${interventions.idIntervention}" id="interv" th:data-int="${interventions.idIntervention}" onclick="ReponseInt(this)">Infos</button>

                            <!--                              <button type="button" class="btn btn-primary bi bi-eye-fill" href="#" data-toggle="modal" data-target="#terminerInterventionModal"></button>-->
                              <a th:href="@{/cancel/{idIntervention}(idIntervention=${interventions.idIntervention})}" th:if="${interventions.statut == 'nonTraite' && session.authorithies[0].authority =='User' &&  !interventions.canceled}" onclick="return confirmCancel()">
                                  <button type="button" class="btn btn-danger bi bi-x-lg"></button>
                              </a>
                              <a  th:if="${interventions.statut == 'nonTraite' && session.authorithies[0].authority =='Admin' && !interventions.canceled}"  th:href="@{/prendreEnCharge/{idIntervention}(idIntervention=${interventions.idIntervention})}" >
                                  <button type="button" class="btn btn-success bi bi-check-lg" ></button>
                              </a>
                              <a  th:if="${interventions.canceled}">
                                  <button type="button" class="btn btn-outline-danger bi bi-x-circle" ></button>
                              </a>
                              <button th:if="${interventions.statut == 'enCours' && session.authorithies[0].authority =='Admin'}"
                                      th:data-id="${interventions.idIntervention}"
                                      onclick="showAlert(this)" data-toggle="modal"
                                      data-target="#terminerInterventionModal"  type="button" class="btn btn-secondary bi bi-chat-square">

                              </button>
                            <button th:if="${interventions.statut == 'enCours' && session.authorithies[0].authority =='Admin'}"
                                    th:data-id="${interventions.idIntervention}"
                                    onclick="showAlertRejeter(this)" data-toggle="modal"
                                    data-target="#rejeterInterventionModal"  type="button" class="btn btn-secondary bi bi-chat-square">rejeter</button>


<!--                              th:href="@{/terminer/{idIntervention}(idIntervention=${interventions.idIntervention})}"-->
                          </td>

                          <div class="modal fade" th:id="interventionDetailsModa+${interventions.idIntervention}" tabindex="-1" aria-labelledby="details-interventionModal" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="modal-title">Details de l'intervention</h5>
                                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <div class="form-group">
                                    <label for="class" class="form-label">Numero intervention : </label> <label for="class" class="form-label" th:text="${interventions.idIntervention}" id="repo"> </label></div>
                                  <div class="form-group">
                                    <label for="class" class="form-label">Matricule etudiant : </label> <label for="class" class="form-label" th:text="${interventions.etudiant.matricule}"></label></div>
                                  <div class="form-group">
                                    <label for="class" class="form-label">Departement : </label> <label for="class" class="form-label" th:text="${interventions.departement.intituleDepartement}"></label></div>
                                  <!--                                              <div class="form-group">-->
                                  <!--                                                  <label for="class" class="form-label" th:text="${interventions.categorie.intituleCategorie}">Type de l'intervention : </label></div>-->
                                  <div class="form-group">
                                    <label for="class" class="form-label">Sous-intervention : </label> <label for="class" class="form-label" th:text="${interventions.categorie.intituleCategorie}"> </label></div>
                                  <div class="form-group">
                                    <label for="class" class="form-label">Date d'initiation :  </label> <label for="class" class="form-label" th:text="${#dates.format(interventions.dateCreationInter,'dd-MM-yyyy')}"></label></div>

                                  <!--<div class="form-group">
                                    <label for="class" class="form-label">Date de Modification :  </label> <label for="class" class="form-label" th:text="${#dates.format(interventions.dateModification,'dd-MM-yyyy')}"></label></div>
-->
                                  <div class="form-group">
                                    <label for="class" class="form-label"> Description : </label><label for="class" class="form-label" th:text="${interventions.description}"> </label></div>
                                  <div class="form-group">
                                    <label for="class" class="form-label"> Statut : </label>
                                    <span class="badge badge-outline-danger" th:if="${interventions.statut == 'nonTraite'}" th:text="${interventions.statut}">Danger</span>
                                    <span class="badge badge-success" th:if="${interventions.statut == 'traite'}" th:text="${interventions.statut}">Success</span>
                                    <span class="badge badge-warning" th:if="${interventions.statut == 'enCours'}" th:text="${interventions.statut}">Success</span>
                                    <span class="badge badge-outline-danger" th:if="${interventions.statut == 'Rejeter'}" th:text="${interventions.statut}">Danger</span>
                                  </div>

                                  <div class="form-group">
                                    <label for="class" class="form-label">Piece jointe : </label>  <a th:each="piecesJointe : ${interventions.piecesJointes}"  th:href="@{/download/{idPieceJ}(idPieceJ=${piecesJointe.idPieceJointe})}"><i class="bi bi-file-earmark-binary-fill">piece</i></a>
                                  </div>
                                  <!--                                              <div class="form-group">-->
                                  <!--                                                  <label for="class" class="form-label"> Piece jointe : </label><a th:each="piecesJointe : ${interventions.piecesJointes}"  th:href="@{/download/{idPieceJ}(idPieceJ=${piecesJointe.idPieceJointe})}"  ><i class="bi bi-file-earmark-binary-fill"></i></a>-->
                                  <div class="form-group" th:if="${session.authorithies[0].authority =='User' && interventions.statut!='nonTraite'}">
                                    <label for="class" class="form-label"> Traite par le departement: </label> <label for="class" class="form-label" th:if="${interventions.statut!='nonTraite'}" th:text="${interventions.departement.intituleDepartement}"></label></div>

                                  <div class="form-group" th:if="${interventions.statut!='nonTraite'}">
                                    <label for="class" class="form-label"> Traite par : </label> <label for="class" class="form-label"     th:text="${interventions.personnel.nomPersonnel}"></label></div>

                                  <div class="form-group" th:if="${interventions.statut=='traite'}">
                                    <label for="class" class="form-label"> Reponse : </label> <label for="class" class="form-label" th:each="liste : ${ReponseListe}" th:if="${interventions.idIntervention == liste.intervention_id}" th:text="${liste.description}"></label></div>
                                </div>

                                <div class="modal-footer" th:if="${session.authorithies[0].authority =='Admin'}">
                                  <!--<button type="button" class="btn btn-success" data-toggle="modal"  th:attr="data-target='#ReponseInter'+${interventions.idIntervention}" th:if="${interventions.statut == 'enCours' && session.authorithies[0].authority =='Admin' && !interventions.canceled}">Repondre</button>--> <a th:href="@{/cancel/{idIntervention}(idIntervention=${interventions.idIntervention})}" th:if="${interventions.statut == 'nonTraite' && session.authorithies[0].authority =='User' &&  !interventions.canceled}" onclick="return confirmCancel()">
                                  <button type="button" class="btn btn-danger bi bi-x-lg"></button>
                                </a>
                                  <!--<button type="button" class="btn btn-success bi bi-check-lg" data-toggle="modal" th:attr="data-target='#Encharge'+${interventions.idIntervention}" th:if="${interventions.statut == 'nonTraite' && session.authorithies[0].authority =='Admin' && !interventions.canceled}">Traiter</button>-->

                                 <!-- <a  th:if="${interventions.canceled}">
                                    <button type="button" class="btn btn-outline-danger bi bi-x-circle"></button>
                                  </a>-->

                                  <button th:if="${interventions.statut == 'enCours' && session.authorithies[0].authority =='Admin'}"
                                          th:data-id="${interventions.idIntervention}"
                                          onclick="showAlert(this)" data-toggle="modal"
                                          data-target="#terminerInterventionModal"  type="button" class="btn btn-secondary bi bi-chat-square">

                                  </button>
                                  <button th:if="${interventions.statut == 'enCours' && session.authorithies[0].authority =='Admin'}"
                                          th:data-id="${interventions.idIntervention}"
                                          onclick="showAlertRejeter(this)" data-toggle="modal"
                                          data-target="#rejeterInterventionModal"  type="button" class="btn btn-secondary bi bi-chat-square">rejeter</button>

                                </div>

                              </div>
                            </div>
                          </div>

                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:/partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2022.  Client Web ING4-ISI <a href="https://www.institutsaintjean.org/" target="_blank">ISJ-ENT.</a> All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->

    <th:block th:replace="fragments/_modalsIntervention.html::modalsIntervention"></th:block>
    <th:block th:replace="fragments/_modalsIntervention.html::modalsValidationIntervention"></th:block>

</div>
  <!-- container-scroller -->
  <!-- plugins:js -->
<script type="text/javascript" th:src="@{/js/moreIntervention.js}"></script>
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
<script th:inline="javascript">
  var token = /*[[${accessToken}]]*/ 'valeur_par_defaut';
</script>
<script src="/js/creerIntervention.js"></script>
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/settings.js"></script>
  <script src="/js/todolist.js"></script>
  
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->



 <!-- plugins:js -->
 <!-- endinject -->
 <!-- Plugin js for this page -->
 <script src="/vendors/chart.js/Chart.min.js"></script>
 <script src="/vendors/datatables.net/jquery.dataTables.js"></script>
 <script src="/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
 <script src="js/dataTables.select.min.js"></script>

 <!-- Plugin js for this page -->
 <script src="/vendors/typeahead.js/typeahead.bundle.min.js"></script>
 <script src="/vendors/select2/select2.min.js"></script>
 <!-- End plugin js for this page -->

 <!-- endinject -->
 <!-- Custom js for this page-->
 <script src="/js/dashboard.js"></script>
 <script src="/js/Chart.roundedBarCharts.js"></script>
<script th:src="@{/sweetalert2/sweetalert2.all.js}"></script>
<script th:src="@{/sweetalert2/sweetalert2.js}"></script>

  <!-- Custom js for this page-->
  <script src="/js/file-upload.js"></script>
  <script src="/js/typeahead.js"></script>
  <script src="/js/select2.js"></script>
    <script>
        function confirmCancel() {
            return confirm("Êtes-vous sûr de vouloir annuler cette intervention ?");
        }
    </script>
    <script>
        document.getElementById('fileInput').addEventListener('change', function(event) {
            var files = event.target.files;
            // Définissez ici le nombre maximal de fichiers autorisés
            var maxFiles = 5;

            if (files.length > maxFiles) {
                alert('Vous ne pouvez sélectionner que ' + maxFiles + ' fichiers.');
                event.preventDefault(); // Empêche la sélection des fichiers supplémentaires
                // Vous pouvez également réinitialiser l'input file si vous le souhaitez
                // event.target.value = null;
            }
        });
    </script>
  <!-- End custom js for this page-->

<script>
    function singleIntervention(id) {
        console.log(id);
        $.ajax({
            url: 'http://localhost:9090/api/interventions/singleIntervention/'+id,
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                afficherDetailsIntervention(data)
            },
            error: function(xhr, status, error) {
                console.error('Erreur lors de la requête API:', status, error);
            }
        });
    }


    function afficherDetailsIntervention(intervention) {
        console.log(intervention)
        $('#modal-title').text('Détails de l\'intervention'); // Mettre à jour le titre du modal
        $('#numero-intervention').text(intervention.idIntervention); // Mettre à jour le numéro d'intervention
        $('#matricule-etudiant').text(intervention.etudiant.matricule); // Mettre à jour le matricule de l'étudiant
        $('#departement').text(intervention.departement.intituleDepartement); // Mettre à jour le département
        $('#type-intervention').text(intervention.categorie.intituleCategorie); // Mettre à jour le type d'intervention
        $('#Sousintervention').text(intervention.sousIntervention.intituleSousIntervention); // Mettre à jour la sous-intervention

        //formater le date
        var dateInitiation = new Date(intervention.dateCreationInter);
        var date = new Date(dateInitiation);
        var jour = date.getDate();
        var mois = date.getMonth() + 1; // Les mois sont indexés à partir de zéro, donc on ajoute 1
        var annee = date.getFullYear();

        var heure = date.getHours();
        var minutes = date.getMinutes();
        var secondes = date.getSeconds();

        var dateFormatee = jour + "/" + mois + "/" + annee + " " + heure + ":" + minutes + ":" + secondes;
        $('#date-initiation').text(dateFormatee); // Mettre à jour la date d'initiation


        $('#description').text(intervention.description); // Mettre à jour la description
        $('#statut').text(intervention.statut); // Mettre à jour le statut
        var taille= intervention.piecesJointes.length
        $('#piece-jointe').text(taille); // Mettre à jour la pièce jointe
        $('#traite-par').text(intervention.personnel.nomPersonnel); // Mettre à jour le traité par
        $('#reponse').text(intervention.reponse); // Mettre à jour la réponse
        $('#annuler').text(intervention.canceled)
    }



</script>


</body>

</html>
